body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #323232;
  line-height: 1.426;
  background: #f1f4f8;
}
* {
  box-sizing: border-box;
}
h1.title {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 59px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.fetching {
  text-align: center;
  margin-top: 50px;
}
header {
  text-align: right;
  padding: 10px;
}
header a {
  font-size: 2rem;
  margin: 0 8px;
  color: #c5c5c5;
  cursor: pointer;
}
header a:hover {
  color: #4148cd;
}
form {
  max-width: 650px;
  position: relative;
  margin: 0 auto;
}
form span {
  position: absolute;
  left: 4%;
  top: 30%;
}
input.searchbar {
  border-radius: 56px;
  -webkit-appearance: none;
  border: none;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
  width: 100%;
  padding: 15px 15px 15px 65px;
  margin: 40px auto 0;
  display: inherit;
  font-size: 20px;
  line-height: 24px;
  color: #00000069;
  font-weight: bold;
}
input:focus {
  outline: none;
}
.city-card {
  width: 100%;
  border-radius: 41px;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
  margin: 30px 0 50px;
  display: flex;
  background: #fff;
}
.card-body {
  background: #335eea;
  border-radius: 42px;
  width: 50%;
  padding: 60px 35px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-body .day {
  background: url(/static/media/night.jpg) no-repeat center/cover;
}
.card-body .night {
  background: url(/static/media/night.jpg) no-repeat center/cover;
}
.card-head h3 {
  font-size: 52px;
  font-weight: bold;
  line-height: 67px;
  margin: 0;
  text-transform: uppercase;
}
.card-head p {
  font-size: 26px;
  margin: 0;
  color: #ffffffb3;
  line-height: 31px;
}
.current-city {
  display: flex;
  align-items: baseline;
  margin: 25px 0 40px;
  position: relative;
}
.current-city img {
  height: 140px;
  position: absolute;
  left: -10px;
}
.current-city h4 {
  font-size: 64px;
  line-height: normal;
  margin: 27px 0 0 9rem;
}
h4 span {
  font-size: 16px;
  display: block;
  line-height: 10px;
  color: #ffffffb3;
  text-transform: uppercase;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-content ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-content ul li {
  flex: 0 0 26%;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffffb3;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}
.forcast {
  width: 50%;
  padding: 35px;
}
.forcast ul li {
  border-radius: 10px;
  box-shadow: 0 0rem 1rem rgba(22, 28, 45, 0.09);
  padding: 20px 0;
  color: #535353;
  margin: 0 8px 20px;
  flex: 0 0 145px;
  text-align: center;
  border: none;
}
.forcast ul li img {
  height: 75px;
}
.forcast p {
  font-size: 18px;
  color: #535353;
  margin-bottom: 0;
  text-align: center;
}
.forcast h2 {
  font-size: 32px;
  margin-top: 0;
  text-align: center;
}

.pulseLoader {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: auto;
  background: rgba(65, 72, 205, 0.6);
  animation: pulse 2s ease-in-out infinite;
}

.error {
  text-align: center;
  padding: 3rem;
  font-size: 1.2rem;
  line-height: 1.2;
  background: #f1f4f8;
  max-width: 550px;
  border-radius: 20px;
  margin: 4rem auto;
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
}

.degree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.form-check-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
.custom-radio {
  position: relative;
  display: flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  align-items: center;
  margin-right: 1.5rem;
}
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  opacity: 0;
}
label::before {
  position: absolute;
  top: 3px;
  left: -24px;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
input[type="radio"]:checked ~ label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}
input[type="radio"]:checked ~ label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.8;
  }
}

@media (max-width: 992px) {
  h1.title {
    font-size: 42px;
    line-height: 52px;
  }
  .city-card {
    align-items: initial;
  }
  .card-body {
    border-radius: 42px;
    padding: 50px 30px;
  }
  .card-head h3 {
    font-size: 44px;
    line-height: 54px;
  }
  .card-head p {
    font-size: 22px;
    line-height: 26px;
  }
  .current-city {
    margin: 15px 0 25px;
  }
  .current-city h4 {
    font-size: 54px;
    margin: 25px 0 auto 8rem;
  }
  .current-city img {
    height: 134px;
    position: absolute;
    left: -15px;
    top: -10px;
  }
  .forcast {
    padding: 20px;
  }
  .forcast h2 {
    font-size: 28px;
  }
  .forcast ul li {
    padding: 12px 0;
    margin: 0 10px 20px;
    flex: 0 0 126px;
  }
}

@media (max-width: 767px) {
  h1.title {
    font-size: 38px;
    line-height: 46px;
  }
  form span {
    left: 1.75rem;
  }
  input.searchbar {
    font-size: 18px;
    line-height: 22px;
  }
  .city-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .card-body {
    width: 100%;
    padding: 40px 25px;
  }
  .card-head h3 {
    font-size: 34px;
    line-height: 42px;
  }
  .card-head p {
    font-size: 20px;
    line-height: 24px;
  }
  .current-city {
    margin: 15px 0 30px;
  }
  .current-city img {
    height: 110px;
    left: -16px;
  }
  .current-city h4 {
    font-size: 44px;
    margin: 18px 0 auto 6rem;
  }
  h4 span {
    font-size: 14px;
    line-height: 18px;
  }
  .card-content ul li {
    flex: 0 0 30%;
    font-size: 16px;
    line-height: 20px;
  }
  .forcast {
    width: 100%;
    padding: 30px 10px;
  }
  .forcast h2 {
    font-size: 26px;
  }
  .forcast ul li {
    flex: 0 0 119px;
  }
}
